<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h4>Welcome to CodeHub</h4>
        @RenderBody()
    </div>
</body>
</html>
